# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
fifa-search-front/node_modules/**
fifa-search-front/node/**
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Java

fifa-search-back/target/**
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Miscellaneous
fifa-search-front/.angular/cache

.sass-cache/
fifa-search-front/connect.lock
fifa-search-front/coverage
fifa-search-front/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# ---- ITs
fifa-search-front/.sonar
fifa-search-front/.scannerwork
