<app-fut-header></app-fut-header>

<main>
    <ng-template [ngIf]="isLoading">
  <div [ngClass]="cardTypeAdjustmentCss[card.type]" class="card-details" >
    <div class="card ">
      <div class="card__header flipInY">
        
        <p id="card__content__name">
          {{ card.nickName ? card.nickName : card.firstName + ' ' + card.lastName }}
        </p>
      

        <div class="playercard-superior">
          <div class="playercard-position-and-overral">
            <div class="images-details-icons">
              <img
                class="playercard-image-icon"
                *ngIf="logoMapping[card.club.toLowerCase()]"
                [src]="logoMapping[card.club.toLowerCase()]"
              />
              <img
                class="playercard-image-icon"
                id="nation"
                *ngIf="nationMapping[card.nationality.toLowerCase()]"
                [src]="nationMapping[card.nationality.toLowerCase()]"
              />

            </div>

            <p>{{ card.attributes[0].overall }} </p>
            <p [ngStyle]="{ 'font-size': '15px' }">{{ card.position }}</p>
          </div>
        </div>

        <div class="card__content">
          <p>{{ card.attributes[0].pace }} PAC</p>
          <p>{{ card.attributes[0].dribbling }} DRI</p>
          <p>{{ card.attributes[0].shooting }} SHO</p>
          <p>{{ card.attributes[0].defending }} DEF</p>
          <p>{{ card.attributes[0].passing }} PAS</p>
          <p>{{ card.attributes[0].physicality }} PHY</p>
        </div>

        <img id="photo__card" [src]="card.photo" alt="card.photo" />
        <!-- <img
          id="card-gold"
          *ngIf="cardGoldMapping[card.type.toLowerCase()]"
          [src]="cardGoldMapping[card.type.toLowerCase()]"
        /> -->
        <!-- <img id="card-gold" *ngIf="cardTypeMapping[card?.type.toLowerCase()]" [src]="card?.attributes[0].overall >= 75 ? cardGoldMapping[card?.type.toLowerCase()] : cardSilverMapping[card?.type.toLowerCase()]"> -->
        <img id="card-gold" *ngIf="cardTypeMapping[card?.type.toLowerCase()]" [src]="card?.attributes[0].overall >= 75 ? cardTypeMapping[card?.type.toLowerCase()].gold : (card?.attributes[0].overall >= 65 ? cardTypeMapping[card?.type.toLowerCase()].silver : cardTypeMapping[card?.type.toLowerCase()].bronze)" />

   
        <!-- <img
         id="card-gold" 
         *ngIf="cardTypeMapping[card.type.toLowerCase()]" 
         [src]="card?.attributes[0].overall >= 75 ? cardTypeMapping[card?.type.toLowerCase()].gold : (card?.attributes[0].overall >= 65 ? cardTypeMapping[card?.type.toLowerCase()].silver : cardTypeMapping[card?.type.toLowerCase()].bronze)" /> -->

        
        
      </div>
      <h2 class="card__title">Detalhes do jogador</h2>

      <a [routerLink]="['']" class="btn btn__secondary">Voltar</a>
    </div>
  </div>
</ng-template>

<img src="assets/images/error.png" alt="Erro ao carregar Cards" width="100%" *ngIf="apiError">
</main>
