
:host{
  .background {
    background-color: rgba(251, 253, 247, 0.897);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 25rem;
    padding: 50px;
    @media screen and (max-width: 450px) {
      flex-direction: column;
      height: auto;
      #card-details {
       z-index: 1;
      }
    }
  }

  .descriptionAndInformations {
    @media screen and (max-width: 450px) {
      margin-top: 50px;
    }

    #textInfo {
      display: flex;
      justify-content: center;
    }
  }
}

