<div [ngClass]="changeStyleByVersion()" class="card__header flipInY">
  <div [ngClass]="changeStyleByTypeCard()" class="div-{{infoCardsForm.value.versionFifa}}">
  <div class="playercard">
    <div class="playercard__top">
      <div class="playercard__details__icons">
        <p id="colorOverall">
          {{ attributeCard.get("overall")?.value }}
        </p>
        <p
          id="colorPosition"
        >
          {{ infoCardsForm.get("position")!.value }}
        </p>
        <div class="icon__and__nation">
          <img
            class="playercard__top__icons"
            [src]="imagePath('', infoCardsForm.value.club)"
            [alt]="infoCardsForm.value.club.name"
          />

          <img
            class="playercard__top__icons"
            id="nation"
            [src]="imagePath(infoCardsForm.value.nationality)"
            [alt]="infoCardsForm.value.nationality"
          />
        </div>
      </div>
      <img
        id="photo__card"
        [src]="infoCardsForm.value!.photo"
        width="75%"
        alt="URL to a real player image"
      />
    </div>

    <p
      id="card__content__name"
    >
      {{
        infoCardsForm.get("nickName")!.value
          ? infoCardsForm.get("nickName")!.value
          : infoCardsForm.get("firstName")!.value +
            " " +
            infoCardsForm.get("lastName")!.value
      }}
    </p>
  </div>

  <div class="card__body__position">
    <div class="card__body">
      <div
        class="card__attributes"
      >
        <div class="attribute__left">
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("pace")?.value
            }}</label>
            PAC
          </div>
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("shooting")?.value
            }}</label>
            SHO
          </div>
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("passing")?.value
            }}</label>
            PAS
          </div>
        </div>
        <div class="attribute__right">
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("dribbling")?.value
            }}</label>
            DRI
          </div>
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("defending")?.value
            }}</label>
            DEF
          </div>
          <div>
            <label class="bold__numbers">{{
              attributeCard.get("physicality")?.value
            }}</label>
            PHY
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
