.menuButton {
  display: flex;
    height: 340px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  button {
    cursor: pointer;
    padding: 20px;
    width: auto;
    border-radius: 40px;
  }

  &__delete {
    background-color: #df2020;
    color: var(--white);
  }

  &__goBack {
    background-color: var(--primary-color);
    color: var(--white);
  }
}

@media screen and (max-width: 450px) {
  .menuButton {
    display: flex;
    flex-direction: column-reverse;
  }
}
