 .menuButton {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
      button {
        cursor: pointer;
        padding: 35px;
        margin-top: 25px;
      
      }
    }

    @media screen and (max-width: 450px) {
      .menuButton {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    