<app-fut-search (emmitSearch)="getSearch($event)"></app-fut-search>

<section class="list">
  @if (cards(); as data) { 
    @for (card of data; track card) {

  <a [routerLink]="['details', card.id]" class="card fadeIn">
    <section class="card__info">
      <p>{{ card.position }}</p>
      <h2>{{ card.firstName }} {{ card.lastName }}</h2>

      <ul>
        <li>
          <img [src]="imagePath(card.nationality)" [alt]="card.nationality" />
        </li>
        <li id="card__name-club-and-nation">
          <img [src]="imagePath('', card.club)" [alt]="card.club" />
          <h4>{{ formatWithoutHyphen(card.nationality) }}</h4>
          <h4>{{ formatWithoutHyphen(card.club) }}</h4>
        </li>
      </ul>
    </section>

    <section class="card__image">
      <img
        class="card__image__player-photo"
        [src]="card.photo"
        alt="{{ card.firstName }} photo"
      />
    </section>
  </a>
  } @empty {
    <p>Nenhum jogador encontrado.</p>
  }
 } @else {
  <img src="assets/images/error.png" alt="Erro ao carregar Cards" loading="lazy"/>
  
  
  } 
</section>
