@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedLight.eot');
    src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
        url('DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedLight.woff2') format('woff2'),
        url('DINPro-CondensedLight.woff') format('woff'),
        url('DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('DINPro-CondensedMedium.eot');
  src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
      url('DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
      url('DINPro-CondensedMedium.woff2') format('woff2'),
      url('DINPro-CondensedMedium.woff') format('woff'),
      url('DINPro-CondensedMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedBold.eot');
    src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
        url('DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedBold.woff2') format('woff2'),
        url('DINPro-CondensedBold.woff') format('woff'),
        url('DINPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedRegular.eot');
    src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
        url('DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedRegular.woff2') format('woff2'),
        url('DINPro-CondensedRegular.woff') format('woff'),
        url('DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

