@mixin fifa-16 {
  .playercard {
    &__top {
      margin-left: rem-calc(33);
    }
  }

  .cardAttributes {
    padding: rem-calc(15);
  }

  #photo__card {
    margin-bottom: -4px;
  }
}

@mixin fifa-18 {
  .playercard {
    margin-top: rem-calc(29);
    &__top {
      &__icons {
        width: rem-calc(37);
      }
    }
    &__details__icons {
      margin-right: rem-calc(13);
      margin-top: rem-calc(18);
    }
  }
  .card__body {
    margin-left: rem-calc(22);
  }

  #card__content__name {
    bottom: rem-calc(136);
    left: rem-calc(20);
  }

  #photo__card {
    margin-right: rem-calc(60);
  }
}

@mixin fifa-19 {
  .playercard {
    margin-top: rem-calc(47);
    &__top {
      &__icons {
        width: rem-calc(44);
      }
    }
    &__details__icons {
      margin-left: rem-calc(15);
    }
  }
  .card__body {
    margin-top: rem-calc(13);
  }

  #card__content__name {
    bottom: rem-calc(116);
  }

  .iconAndNation {
    display: flex;
    flex-direction: column-reverse;
  }

  #nation {
    margin-top: rem-calc(9);
  }
}
