$padding: 45px;
:host{
    .list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px 25% ;
        padding: $padding 0;
        .card{
            position:relative;
            display: flex;
            
            width: calc(46% - 2.813rem);
            height: 157px;
            background: var(--secundary-color);

            margin-bottom: 10px;
            padding: 20px;
           
            border-radius: 10px;

            text-decoration: none;
            color: var(--primary-color);

            &__info{
                h2{
                    font-size: 22px;
                    font-style: italic;
                    font-weight: 700;
                    user-select: none;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }

                ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        background: var(--gray);
                        color: var(--primary-color);
                        font-size: 10px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: 50px;

                        width: 60px;
                        margin-bottom: 5px;
                    }
                }
            }

            &__image{
                position: absolute;

                display: flex;
                align-items: center;
                justify-content: center;
                
                height: 90px;
                width: 110px;
                right: $padding;
                bottom: $padding;
                top: 50px;

                &__player-photo{
                    position: absolute;
                }

                img{
                    width: 125px;
                    pointer-events: none;
                }
            }
        }
    }
}