@import '../../../../../config-scss/variables.scss';

:host {
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 25% ;
        padding: 15px 20px;
        background-color: $bluish-gray;
        border-radius: 10px;
        input{
            width: 95%;
            background: none;
            border: none;
           
            font-size: 18px;

            color: var(--white);

            &::placeholder{
                color: var(--white);
            }
        }
        img{
            pointer-events: none;
        }
    }
}