.btn__add__player {
  background-color: unset;
  border-radius: 5px;
  padding: 13px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:hover {
    transition: 0.25s ease-in-out;
    color: #ffffffa6;
    border: 2px solid #ffffff57;
  }
}

.go__back {
  &:hover {
    transition: 0.25s ease-in-out;
    color: #ffffffa6;
    border: 2px solid #ffffff57;
    mat-icon {
      transition: 0.25s ease-in-out;
      color: var(--red-010);

    }
  }

}
