<div class="formAttributes">
    <form [formGroup]="attributeCard">
      <div class="form-details">
          <div class="input-box">
            
            <label class="details" for="overall">
              Overral:
              <input type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="overall" appClearField>
            </label>
  
              <label class="details" for="pace">
                Pace:
                <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="pace" appClearField>
              </label>
              
                <label class="details" for="shooting">
                  Shooting:
                  <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="shooting" appClearField>
                </label>
  
                  <label class="details" for="passing">
                    Passing:
                    <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="passing" appClearField>
                  </label>
  
                <label class="details" for="dribbling">
                  Dribbling:
                  <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="dribbling" appClearField>
                </label>
  
              <label class="details" for="defending">
                Defending:
                <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="defending" appClearField>
              </label>
  
            <label class="details" for="physicality">
              Physicality:
            <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="physicality" appClearField>
          </label>
  
        </div>
        
      </div>
    </form>
  </div>
