@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/mixin.scss';

:host{
    .addPlayer{
        display: flex;
        justify-content: end;
        margin-left: rem-calc(30);
        button{
            position: fixed;
            top: rem-calc(10);
            right: rem-calc(10);
            background: var(--secundary-color);
            padding: rem-calc(25);
        }
    }
}