<div class="card">
  <div class="card-background">
    <div class="container">
    <form [formGroup]="infoCardsForm" (ngSubmit)="submitForm()">
      <div class="form-details" >

        <div class="input-box">
            <label for="cardType"
            >Tipo de Carta:
          <select class="details" formControlName="type">
            <option *ngFor="let cards of type" [ngValue]="cards">
              {{ formatCardType(cards) }}
            </option>
          </select>
        </label>
        </div>

        <div class="input-box">
          <label class="details" for="firstName"
            >Nome:
            <input type="text" placeholder="Enter your name" formControlName="firstName" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="lastName"
            >Sobrenome:
            <input type="text" placeholder="Enter your name" formControlName="lastName" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="nickName"
            >Apelido:
            <input type="text" placeholder="Enter your name" formControlName="nickName" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="nationality"
            >Nacionalidade:
            <input type="text" placeholder="Enter your name" formControlName="nationality" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="club"
            >Clube:
            <input type="text" placeholder="Enter your name" formControlName="club" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="position"
            >Posição:
            <input type="text" placeholder="Enter your name" formControlName="position" />
          </label>
        </div>

        <div class="input-box">
          <label class="details" for="nickName"
            >Foto (URL):
            <input type="text" placeholder="Enter your name" formControlName="photo" />
          </label>
        </div>

        

        <button [disabled]="infoCardsForm.invalid">Enviar</button>

        
      </div>

    </form>

    <form [formGroup]="attributeCard" (ngSubmit)="submitForm()">
      <input type="number"  formControlName="overall" >
      <input  type="number" formControlName="pace">
      <input  type="number" formControlName="shooting" >
      <input  type="number" formControlName="passing" >
      <input  type="number" formControlName="dribbling">
      <input  type="number" formControlName="defending" >
      <input  type="number" formControlName="physicality">
    </form>

    <app-attributes-details-add-card [infoCardsForm]="infoCardsForm" [attributeCard]="attributeCard"></app-attributes-details-add-card>
  </div>
</div>
<!-- <img [src]="cardImage"> -->


</div>

<div>
  
</div>
