@import "../../../../config-scss/rem-calc.scss";
@import "../../../../config-scss/mixin.scss";
@import "../../../../config-scss/variables.scss";

:host {
  .card {
    @include flex-justify-center;
    background-color: var(--white);
    border-radius: rem-calc(5);
    margin: rem-calc(0) rem-calc(20) rem-calc(0) rem-calc(20);
  
    &-background {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: $defaultBorderRadius;
      margin: rem-calc(30) rem-calc(50) ;
      background: linear-gradient(135deg, #5e70d6, #0a3457);
      padding: rem-calc(10);
    }

    .container {
      max-width: rem-calc(700);
      width: 100%;
      padding: rem-calc(25) rem-calc(30);
      border-radius: $defaultBorderRadius;
      box-shadow: 0 rem-calc(5) rem-calc(10) rgba(0, 0, 0, 0.15);
    }

    .form-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: rem-calc(20) 0 rem-calc(12) 0;

      .input-box {
        margin-bottom: rem-calc(15);
        width: calc(100% / 2 - rem-calc(20));
        select {
          height: rem-calc(34);
          width: 106%;
          outline: none;
          font-size: rem-calc(16);
          border-radius: $defaultBorderRadius;
          padding-left: rem-calc(15);
          border: 1px solid #ccc;
          border-bottom-width: rem-calc(2);
          transition: all 0.3s ease;
        }
        .details {
          display: block;
          font-weight: 500;
          margin-bottom: rem-calc(9);
         
          .selectStyle{
            text-transform: capitalize;
          }
          input {
            height: rem-calc(34);
            width: 100%;
            outline: none;
            font-size: rem-calc(18);
            font-weight: 300;
            border-radius: $defaultBorderRadius;
            padding-left: rem-calc(15);
            border: rem-calc(1) solid #ccc;
            border-bottom-width: rem-calc(2);
            transition: all 0.3s ease;
            &[type=number]::-webkit-inner-spin-button { 
              -webkit-appearance: none;
            }
          }
        }
      }
    }
  
    #buttonForm{
      @include buttonDefault;
      padding: rem-calc(25) rem-calc(35) rem-calc(25) rem-calc(35);
    }

    #buttonBackHome{
      @include buttonBackDefault;
    }

    img{
      width: 22%;
      height: 22%;
      position:relative;
      margin-top: rem-calc(30);
      margin-right: rem-calc(25);
    }

    .formAttributes{
      padding: rem-calc(20) rem-calc(30) rem-calc(0);
      margin-left: rem-calc(30);
    }

    #card__model__attributes{
      margin-top: rem-calc(50);
    }
  
  }
}
