<div class="card">
  <div class="card-background">
    <div class="container">
      <form [formGroup]="infoCardsForm" (ngSubmit)="submitForm()" (change)="getPhotoType()">
        <div class="form-details" >

            <div class="input-box">
                <label class="details" for="versionFifa"
                >Versão do FIFA:
              <select (change)="filterTypeByVersion()" formControlName="versionFifa">
                <option *ngFor="let versions of versionInstanciado" [ngValue]="versions" >
                  {{ formatUpperCase(versions) }}
                </option>
              </select>
            </label>
            </div>

            <div class="input-box">
              <label class="details" for="types"
              >Tipo de Carta:
            <select class="selectStyle" formControlName="typeCard">
              <option *ngFor="let types of selectedTypeCard" [ngValue]="types">
                {{ formatWithoutHyphen(types) }}
              </option>
            </select>
          </label>

          <!-- <mat-form-field class="details" appearance="fill">
            <mat-label for="types">Tipo de Carta</mat-label>
              <mat-select class="selectStyle" formControlName="typeCard">
                <mat-option *ngFor="let types of selectedTypeCard" [value]="types">
                   {{ formatWithoutHyphen(types) }}
                  </mat-option>
              </mat-select>
          </mat-form-field> -->
          </div>

              <div class="input-box">
                <label class="details" for="firstName"
                  >Nome:
                  <input type="text" placeholder="Enter your name" formControlName="firstName" maxlength="14"/>
                </label>
              </div>

                <div class="input-box">
                  <label class="details" for="lastName"
                    >Sobrenome:
                    <input type="text" placeholder="Enter your name" formControlName="lastName" maxlength="14"/>
                  </label>
                </div>

                  <div class="input-box">
                    <label class="details" for="nickName"
                      >Apelido:
                      <input type="text" placeholder="Enter your name" formControlName="nickName" />
                    </label>
                  </div>

                <div class="input-box">
                  <label class="details" for="nationality"
                    >Nacionalidade:
                    <select (change)="getNation()" class="selectStyle" formControlName="nationality">
                      <option *ngFor="let nations of selectedNationCard" [ngValue]="nations">
                        {{ formatWithoutHyphen(nations) }}
                      </option>
                    </select>
                  </label>
                </div>

              <div class="input-box">
                <label class="details" for="club"
                  >Clube:
                  <select (change)="getClub()" class="selectStyle" formControlName="club">
                    <option *ngFor="let OneClub of selectedClubCard" [ngValue]="OneClub">
                      {{ formatWithoutHyphen(OneClub) }}
                    </option>
                  </select>
                </label>
              </div>

            <div class="input-box">
              <label class="details" for="position"
                >Posição:
                <input type="text" placeholder="Enter your name" formControlName="position" maxlength="3"/>
              </label>
            </div>

          <div class="input-box">
            <label class="details" for="photo">
              Foto (URL):
              <input type="text" placeholder="Enter your name" formControlName="photo" />
            </label>
          </div>

          <button id="buttonForm" [disabled]="infoCardsForm.invalid">Enviar</button>
        </div>
      </form>
   </div>
</div>

<app-attributes-details-add-card
 id='card__model__attributes' 
 [infoCardsForm]="infoCardsForm" 
 [attributeCard]="attributeCard" 
 [photoUrl]="photoUrl"
 [nationUrl]="nationUrl"
 [clubUrl]="clubUrl"
 [colorOverall]="colorOverall"
 [colorFontName]="colorFontName"
 [colorPosition]="colorPosition"
 [colorAttributes]="colorAttributes">

</app-attributes-details-add-card>

<div class="formAttributes">
  <form [formGroup]="attributeCard" (ngSubmit)="submitForm()">
    <div class="form-details">
        <div class="input-box">
          
          <label class="details" for="overall">
            Overral:
            <input type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="overall" appClearField>
          </label>

            <label class="details" for="pace">
              Pace:
              <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="pace" appClearField>
            </label>
            
              <label class="details" for="shooting">
                Shooting:
                <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="shooting" appClearField>
              </label>

                <label class="details" for="passing">
                  Passing:
                  <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="passing" appClearField>
                </label>

              <label class="details" for="dribbling">
                Dribbling:
                <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="dribbling" appClearField>
              </label>

            <label class="details" for="defending">
              Defending:
              <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="defending" appClearField>
            </label>

          <label class="details" for="physicality">
            Physicality:
          <input  type="number" pattern="[0-9]*" onKeyPress="if(this.value.length==2) return false;" formControlName="physicality" appClearField>
        </label>

      </div>
      
    </div>
  </form>
</div>

<div>
  <button [routerLink]="['']" mat-fab extended color="warn">
    <mat-icon>forward</mat-icon>
    Voltar
  </button>
</div>
