@import '../../../../config-scss/mixin.scss';

:host {
    .addPlayer {
        display: flex;
        justify-content: flex-end;
        margin-left: 30px;
        button {
            position: fixed;
            top: 10px;
            right: 10px;
            background: var(--secundary-color);
            padding: 25px;
        }
    }
}