:root {
  //Colors
  --white: #eee8e8;
  --gray: #EFEFEF;
  --selected-gray: #dbdada;
  --blue: #2E8BC0;
  --blue-010: #101e8b;
  --midnight-blue: #145DA0;
  --dark-blue: #0C2D48;
  --dark-blue-010: #191d58;
  --red: #ff3d5a;
  --red-010: #91080817;
  --medium-dark-red: #c90a00;
  --dark-red: #9a151a ;
  --bluish-gray:  #ffffff33;

  --primary-color: #050A30;
  --secundary-color: var(--white);
}
