:root {
  --black: #433111;
  --black-padrao: #000000;
  --white: #FFF;
  --legend-color: #6B4A15;
  --silver-fifa-16-color: #1B243C;
  --tots-fifa-16-color: #EAD36E;
  --totw-color: #D6C263;
  --toty-fifa-16-color: #D2EBFA;
  --motm-color: #452206;
  --fut-champions-reward-color: #846525;
  --futties-fifa-17-color: #E574A0;
  --hero-fifa-17-color: #9d79e3;
  --toty-fifa-17-color: #f9e99e;
  --tots-fifa-17-color: #EAD36E;
  --tots-fifa-17-color-font-name: #000c35;
  --spd-fifa-17-color: #1b6b34;
  --motm-fifa-17-color: #8a2c00;
  --halloween-fifa-17-color: #d36c12;
  --movember-fifa-17-color: #3c2313;
  --tots-silver-fifa-17-color: #e1e9ee;
  --tots-bronze-fifa-17-color: #deb89e;
  --hero-fifa-18-color: #d4c0fc;
  --totw-fifa-18-color-overall: #4d3624;
  --totw-fifa-18-color-font-name: #e2d17e;
  --totw-fifa-18-color-position: #4d3624;
  --totw-fifa-18-color-attributes: #e2d17e;
  ;

}
