.background {
  box-shadow: rgba(145, 8, 8, 0.09) 0px 54px 55px,
    rgba(145, 8, 8, 0.09) 0px -12px 30px, rgba(145, 8, 8, 0.09) 0px 4px 6px,
    rgba(145, 8, 8, 0.09) 0px 12px 13px, #91080817 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/images/background/Swirl2.png");

  @media screen and (max-width: 1007px) {
    flex-direction: column;
  }

  #buttonBack {
    position: absolute;
    right: 15px;
    top: 14px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      top: 17px;

      position: fixed;
    }
  }
}
