<div
  [ngClass]="cardTypeAdjustmentCss[infoCardsForm?.value.type]"
 
  class="card__header flipInY"
>
  <ng-container>
    <img 
    class="type__card__image" 
    [src]="photoUrl" 
    />
  </ng-container>

  <img
    class="type__card__image"
    *ngIf="!photoUrl"
    src="../../../../../assets/images/cards/card-default.png"
  />

  <div class="playercard">
    <div class="playercard__top">
      <div [ngClass]="{'overallWhite': colorOverallWhite}" class="playercard__details__icons">
        <p>{{ attributeCard?.get("overall")?.value }}</p>
        <p [ngStyle]="{ 'font-size': '15px' }">
          {{ infoCardsForm?.value.position }}
        </p>

        <div class="iconAndNation">
            <img
              class="playercard__top__icons"
              *ngIf="logoMapping[infoCardsForm?.value.club.toLowerCase()]"
              [src]="logoMapping[infoCardsForm?.value.club.toLowerCase()]"
            />
            <img
              class="playercard__top__icons"
              id="nation"
              *ngIf="nationMapping[infoCardsForm?.value.nationality.toLowerCase()]"
              [src]="nationMapping[infoCardsForm?.value.nationality.toLowerCase()]"
            />
      </div>
      </div>
      <img
        id="photo__card"
        [src]="infoCardsForm?.value.photo"
        alt="card.photo"
        width="75%"
      />
    </div>

    <p [ngStyle]="{'color': changeColorText()}" id="card__content__name">
      {{
        infoCardsForm?.value.nickName
          ? infoCardsForm?.value.nickName
          : infoCardsForm?.value.firstName + " " + infoCardsForm?.value.lastName
      }}
    </p>
  </div>

  <div [ngStyle]="{'color': changeColorText()}" class="card__body__position">
    <div class="card__body">
      <div class="cardAttributes">
        <div class="attributeLeft">
          <div><label class="bold__numbers">{{ attributeCard?.get("pace")?.value }}</label> PAC</div>
          <div><label class="bold__numbers">{{ attributeCard?.get("shooting")?.value }}</label> SHO</div>
          <div><label class="bold__numbers">{{ attributeCard?.get("passing")?.value }}</label> PAS</div>
        </div>
        <div class="attributeRight">
          <div><label class="bold__numbers">{{ attributeCard?.get("dribbling")?.value }}</label> DRI</div>
          <div><label class="bold__numbers">{{ attributeCard?.get("defending")?.value }}</label> DEF</div>
          <div><label class="bold__numbers">{{ attributeCard?.get("physicality")?.value }}</label> PHY</div>
        </div>
      </div>
    </div>
  </div>
</div>
