@import '../../../../../config-scss/rem-calc.scss';
@import '../../../../../config-scss/mixin.scss';
@import '../../../../../config-scss/mixin-version-fifa.scss';

:host{
  
    .card__header {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: rem-calc(230);
       height: rem-calc(340);
      }

      .playercard {
        display: flex;
        align-items: start;
        text-align: center;
        margin-top: rem-calc(39);
        margin-right: rem-calc(2);
        font-size: rem-calc(30);
        z-index: 2;
        &__top{
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: rem-calc(140);
          margin-left: 30px;
          &__icons{
            width: rem-calc(48);
            margin-top: rem-calc(3);
            z-index: 2;
          }
        }
      }

      .icon__and__nation{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
       
      }
    
      #photo__card{
        width: auto;
        height: auto;
        margin-left: 10px;
        margin-bottom: 3px;
        z-index: 2;
      }

      #nation { 
        margin-top: rem-calc(6);
      }
      
      #card__content__name {
        position: absolute;
        bottom: rem-calc(127);
        width: 100%;
        color: #000000e6;
        text-transform: uppercase;
        font-size: rem-calc(19);
        line-height: rem-calc(33.6);
        font-weight: 500;
        text-shadow: 1px 1px 1px rgb(255 255 255 / 30%);
        z-index: 2;
      }

      .type__card__image{
        position:absolute;
        z-index: 1;
      }
    
      #overral {
        font-size: rem-calc(25);
      }

      .card__body__position{
        width: 100%;
        height: rem-calc(138);
        z-index: 2;
      }

      .card__body{
        width: 100%;
        display: flex;
      }

      .card__attributes {
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 5%;
        font-size: rem-calc(18);
      }
      
      .attribute__left {
       display: flex;
       flex-direction: column;
       line-height: 1.5;
      }
      
      .attribute__right {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
      }

      .bold__numbers {
        font-weight: 400;
      }
  }
    
//different types of cards gold

.card-fifa-16 {
  @include fifa-16;
}
    
.card-fifa-18 {
  @include fifa-18;
}

.card-fifa-19 {
  @include fifa-19;
}


