@import '../../../../../config-scss/rem-calc.scss';

:host{
  
    .card__header {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: rem-calc(230);
       height: rem-calc(340);
      }

      .playercard {
        display: flex;
        align-items: start;
        text-align: center;
        margin-top: rem-calc(39);
        margin-right: rem-calc(2);
        font-size: rem-calc(30);
        z-index: 2;
        &__top{
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: rem-calc(140);
          &__icons{
            width: rem-calc(50);
            z-index: 2;
          }
        }
      }

      .iconAndNation{
        display: flex;
        flex-direction: column;
      }
    
      #photo__card{
        width: auto;
        height: auto;
      }

      #nation { 
        margin-top: rem-calc(-12); 
      }
      
      #card__content__name {
        position: absolute;
        bottom: rem-calc(127);
        width: 100%;
        color: rgba(0, 0, 0, 0.9);
        text-transform: uppercase;
        font-size: rem-calc(19);
        line-height: rem-calc(33.6);
        font-weight: 500;
        text-shadow: 1px 1px 1px rgb(255 255 255 / 30%);
        z-index: 2;
      }

      #photo__card {
        z-index: 2;
      }

      .type__card__image{
        position:absolute;
        z-index: 1;
      }
    
      #overral {
        font-size: rem-calc(25);
      }

      .card__body__position{
        width: 100%;
        height: rem-calc(138);
        z-index: 2;
      }

      .card__body{
        width: 100%;
        display: flex;
      }

      .cardAttributes {
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 5%;
        font-size: rem-calc(18);
      }
      
      .attributeLeft {
       display: flex;
       flex-direction: column;
       line-height: 1.5;
      }
      
      .attributeRight {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
      }

      .bold__numbers{
        font-weight: 400;
      }

      .overallWhite{
        color: #fff;
      }
  }
    
    //different types of cards gold
    .card-fifa-16{
      
      .playercard {
      
        &__top{
          margin-left: rem-calc(35);
        }
    }

    .cardAttributes {
      padding: rem-calc(8);
    }
    
  }
    
    .card-fifa-18 {

      .playercard {
        margin-top: rem-calc(29);
        &__top{
          &__icons{
            width: rem-calc(44);
          }
        }
        &__details__icons{
          margin-right: rem-calc(28);
          margin-top: rem-calc(18);
        }
      }
      .card__body{
        margin-left: rem-calc(25);
      }

      #card__content__name {
        bottom: rem-calc(136);
        left: rem-calc(20);
      }

      
}

.card-fifa-19{
  .playercard {
        margin-top: rem-calc(47);
        &__top{
          &__icons{
            width: rem-calc(44);
           
          }
        }
        &__details__icons{
         
          margin-left: rem-calc(15);
          
        }
      }
      .card__body{
        margin-top: rem-calc(13);
      }

      #card__content__name {
        bottom: rem-calc(116);
        
      }

      .iconAndNation{
        display: flex;
        flex-direction: column-reverse;
      }

      #nation { 
        margin-top: rem-calc(9); 
      }

}


